@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --body-bg: radial-gradient(circle at bottom left,
            rgba(8, 17, 155, 1) 0%,
            rgba(8, 17, 155, 1) 10%,
            rgba(108, 205, 191, 0.58) 60%,
            rgba(108, 205, 191, 0.58) 100%);
    --primary-color: #100F0F;
    --secondary-color: #097877;
    --tertiary-color: #D9D9D9;
    --default-color: #FFFFFF;
    --roboto: "Roboto", sans-serif;
    --h1-40px: clamp(1.5rem, 2vw, 2.857rem);
    --h2-24px: clamp(1.2rem, 2.8vw, 1.714rem);
    --h3-20px: clamp(1rem, 1.5vw, 1.429rem);
    --p-20px: clamp(1rem, 0.95rem + 0.6vw, 1.429rem);
    --p-18px: clamp(1rem, 0.95rem + 0.6vw, 1.286rem);
    --p-16px: clamp(1rem, 0.95rem + 0.4vw, 1.143rem);

}

span {
    display: inline-block;
}


h1,
h2,
h3,
h4,
p,
ul,
li,
a,
figure {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    color: var(--primary-color);
}


button {
    background: none;
    border: none;
    outline: none;
}

html,
body {
    background: var(--body-bg);
    min-height: 100%;
    background-attachment: fixed;
    font-family: var(--roboto);
    color: var(--primary-color);

}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.container {
    max-width: 1903px;
}

.title1 {
    font-size: var(--h1-40px);
    font-weight: 500;
}

.title2 {
    font-size: var(--p-18px);
    font-weight: 600;
}

.title3 {
    font-size: var(--h3-20px);
    font-weight: 600;

}

.title4 {
    font-size: 1.4rem;
}

/* 
==========
Dark/Light Mode Switch
==========
*/


.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 64px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #73C0FC;
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 20px;
    left: 2px;
    bottom: 2px;
    z-index: 2;
    background-color: #e8e8e8;
    transition: .4s;
}

.sun svg {
    position: absolute;
    top: 6px;
    left: 36px;
    z-index: 1;
    width: 24px;
    height: 24px;
}

.moon svg {
    fill: #73C0FC;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    width: 24px;
    height: 24px;
}


.sun svg {
    animation: rotate 15s linear infinite;
}

@keyframes rotate {

    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}


.moon svg {
    animation: tilt 5s linear infinite;
}

@keyframes tilt {

    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-10deg);
    }

    75% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.input:checked+.slider {
    background-color: #183153;
}

.input:focus+.slider {
    box-shadow: 0 0 1px #183153;
}

.input:checked+.slider:before {
    transform: translateX(30px);
}



/* 
==========
Button Section
==========
*/
.logout-btn {
    font-size: var(--p-20px);
    font-weight: 500;
}

.menu-btn {
    display: none;
}

.left-sideNav {
    position: relative;
}

.close-btn {
    position: absolute;
    right: 5%;
    top: 1%;
    display: none;
}



.user-btn {
    width: 50px;
    height: 50px;
    transition: 0.3s linear;

    &:hover {
        box-shadow: 0 0 0 3px rgba(108, 205, 191, 0.4);
    }
}

.cmplt-btn {
    padding: 10px 0;
    border: 1px solid var(--primary-color);
    border-radius: 30px;
    font-size: var(--p-16px);
}

.community-btn {
    padding: 10px 25px;
    display: inline-flex;
    justify-content: start;
    align-items: center;
    background: #08119B;
    border-radius: 20px;
    color: var(--default-color);
    margin-top: 15px;
}

.community-btn span:first-child {
    margin-right: 20px;
}

/* 
==========
Dashboard Left Side Content Section
==========
*/

.dashboard {
    padding: 18px;

}

.left-sideNav {
    padding: 40px 10px;
    max-width: 100%;
    border-radius: 20px;
}

.brand-logo {
    max-width: 281px;
}

.brand-logo img {
    object-fit: cover;
}

.dashboard-navbar {
    margin: 40px 0 30px;
}

.dashboardNav-list {
    border-top: 1px solid rgba(16, 15, 15, 0.5);
    border-bottom: 1px solid rgba(16, 15, 15, 0.5);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;

}

.dashboardNav-list>.title3 {
    margin-bottom: 25px;
}

.item-list {
    margin-bottom: 30px;
}

.item-list:last-child {
    margin: 0;
}

.list-link {
    font-size: var(--p-16px);

}

.list-link.active {
    font-weight: bold;
}

.other-menu {
    margin: 30px 0;
}

.other-menu>.title3 {
    margin-bottom: 30px;
}


.effect-btn {
    margin: 50px 0;
}


.dashboard-top {
    padding: 24px;
    border-radius: 20px;
}



.hdr-cntn>.title1 {
    margin-bottom: 10px;

}

.hdr-cntn>p {
    font-size: var(--p-16px);
    font-weight: 300;
}

.button-list {
    margin-right: 20px;
}

.button-list:last-child {
    margin: 0;
}

.user-btn img {
    object-fit: cover;
}

.hdr-menu li:nth-child(2) {
    margin-left: auto;
}




/* 
==========
Content Section
==========
*/


.common-box {
    padding: 30px;
    background: var(--default-color);
    border-radius: 20px;

}


.dashboard-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    gap: 24px;
    margin-top: 30px;
    align-items: self-start;
}

.box-1,
.box-2,
.box-3 {
    height: 250px;
}

.box-4 {
    grid-row: span 2;
}


.box-5 {
    grid-column: span 3;
}

.box-6 {
    grid-column: 1 / span 3;
}

.box-7 {
    grid-column: 4 / 5;
    grid-row: auto;
}

.weak-dropdown {
    -webkit-appearance: none;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 8px 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-image: url("/assets/CoursePage/arrow-down-01.png");
    background-repeat: no-repeat;
    background-position: right 6px center;
    background-size: 14px;
    font-weight: 500;
    font-size: 1rem;
    margin-left: auto;
    text-transform: capitalize;
}


.dashboard-img {
    max-width: 398px;
    float: right;

}

.progress-list {
    margin-top: 20px;
}

.progess-timing span:last-child {
    font-size: 1rem;
    white-space: nowrap;
}

.form-label {
    font-size: 1.1rem;
}


.box-3 p {
    font-size: var(--p-16px);
    margin-top: 20px;
}

.box-3 p>span {
    font-size: var(--h2-24px);
    font-weight: bold;
}

.activity-dots {
    margin-top: 20px;

}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;

}

.dot:last-child {
    margin: 0;
}

.full-dot {
    background: var(--primary-color);
}

.border-dot {
    background: transparent;
    border: 1px solid var(--primary-color);
}

#studyChart {
    width: 100%;
    height: 100%;
}

.chart-wrapper {
    height: 350px;
}

.common-box canvas {
    height: 300px !important;
    width: 100% !important;
}

.box-5 {
    position: relative;
    min-height: 350px;

}

.box5-dropdown {
    position: absolute;
    top: 2%;
    right: 1%;
}

/* 
==========
Responsive Section
==========
*/
@media screen and (max-width:1440px) {

    /* Content Section */
    .dashboard-grid {
        grid-template-columns: 2fr 1fr 1fr;
        gap: 15px;
    }

    .box-4 {
        grid-column: 1 / -1;
    }

}

@media screen and (max-width:1200px) {

    /* Navbar */
    .menu-btn {
        display: block;
    }

    .left-sideNav {
        position: absolute;
        left: -100%;
        transition: left 0.4s ease-in-out;
    }

    .left-sideNav.open {
        left: 0;

    }

    .close-btn {
        display: block;
    }

    /* Content Section */
    .dashboard-grid {
        grid-template-columns: 1fr 1fr;
    }

    .box-4 {
        grid-column: span 3;
        grid-row: 1;
    }

    .box-1 {
        grid-row: 2;
    }

    .box-2 {
        grid-row: 2;
    }

    .box-3 {
        grid-row: 2;
    }

    .box-5 {
        min-height: 300px;
    }


}

@media screen and (max-width:992px) {
    /* Header Section */

    .dashboard-top {
        padding: 15px 12px;
    }

    .dashboard-grid {
        grid-template-columns: 1fr 1fr;
    }

    .box-1 {
        grid-row: 2;
        grid-column: span 2;
    }

    .box-2 {
        grid-row: 3;
    }

    .box-3 {
        grid-row: 3;
    }

}

@media screen and (max-width:768px) {

    /* Header Section */
    .dashboard-navbar {
        margin: 20px 0;
    }

    .dashboardNav-list>.title3,
    .item-list {
        margin-bottom: 15px;
    }

    .hdr-cntn>p {
        display: none;
    }

    .hdr-cntn>.title1 {
        margin: 0;
    }
}

@media screen and (max-width:576px) {

    /* Header Section */

    .dashboard-hdr {
        flex-direction: column;
    }

    .hdr-cntn {
        margin-top: 10px;
        order: 2;
    }

    .button-list {
        margin-right: 10px;
    }


    .hdr-menu {
        width: 100%;
        order: 1;
    }

    /* .menu-btn::after{
        content: "Dashboard";
        font-size: var(--p-16px);
        margin-left: 10px;
        font-weight: 600;
    } */

    /* Content Section */
    .dashboard-grid {
        grid-template-columns: 1fr;

    }

    .box-1 {
        grid-column: auto;
    }

    .box-2 {
        grid-row: 3;
    }

    .box-3 {
        grid-row: 4;
    }

    .box-4 {
        grid-column: auto;
    }

    .box-5 {
        grid-row: auto;
        min-height: 260px;
        grid-column: 1 / -1;

    }


    .progess-timing span:last-child {
        font-size: 0.63rem;

    }


    .weak-dropdown {
        font-size: 0.8rem;
        padding: 5px 7px;
    }
}