@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: var(--roboto);
  overflow-x: hidden;
}

:root {
  --defult-color: #fff;
  --primary-color: #000;
  --secondary-color: #097877;
  --tertiary-color: #6ccdbf;
  --light-bg-color: #f2f0f4;
  --input-bg: #100f0f;
  --border-color: #7d7878;
  --heading-color: #422c9b;
  --btn-bg: #173433;
  --design-bg: #6dcec0;
  --section-bg: #dbf7f3;
  --roboto: "Roboto", sans-serif;
  --sec-hdr-color: #054645;
  --free-color: #f8d468;
  --payment-text-color: #100f0f;
  --input-bg-color: #d0d2eb;
  --contact-bg: #7db7af;
  --input-form: #f7f0f0;
}

ul {
  list-style-type: none;
}

a,
span {
  display: inline-block;
  text-decoration: none;
}

/* 
====================
CONTACT SECTION
====================
*/

.contact-sec {
  padding: 52px 0 60px;
  background: var(--contact-bg);
  color: var(--payment-text-color);
}
.contact-wrpr {
  max-width: 1253px;
}
.left-part {
  padding: 43px 56px;
  background: var(--defult-color);
  border-radius: 30px;
}
.left-part .title4 {
  color: var(--sec-hdr-color);
  margin-bottom: 13px;
}

.contact-sec .title2 {
  font-family: "Roboto";

  max-width: 381px;
}

.contact-sec p {
  color: var(--input-bg);
  max-width: 414px;
  margin-block: 17px 34px;
}

hr {
  opacity: 1;
  margin: 0 0 19px;
}

.form-input {
  margin: 0 0 19px;
}

.label-form {
  font-weight: 700;
  margin-bottom: 17px;
}

.form-control {
  width: 100%;
  padding: 13px 19px;
  border-radius: 10px;
  background: var(--input-form);
  border: none !important;
}
.form-input textarea {
  padding: 17px 19px;
}
.form-control:focus {
  box-shadow: none !important;
  background-color: var(--input-form) !important;
  border: none !important;
}

.form-control::placeholder {
  font-weight: 300;
  color: var(--input-bg);
}

.form-check-input {
  border: 1px solid #a8a8a8;
  margin-right: 8px;
}

.small {
  font-weight: 300;
}

.small a {
  font-weight: 500;
  color: var(--payment-text-color);
}

.small a:hover {
  text-decoration: underline;
  color: #097877;
}

.form-check-input {
  margin-top: 0 !important;
}

.form-check {
  position: relative;
  margin-bottom: 32px;
}

.form-check::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 15%;
  height: 1px;
  background: var(--payment-text-color);
}
.contact-pic {
  max-width: 600px;
  height: 455px;
}
.contact-pic > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}

.contact-info {
  max-width: 605px;
  height: 427px;
  margin-top: 21px;
  padding: 34px 30px;
  border-radius: 30px;
  background: var(--defult-color);
}

.info {
  padding: 21px 28px;
  border-radius: 30px;
  background: var(--input-form);
  margin-bottom: 26px;
}

.info:last-child {
  margin-bottom: 0;
}

.email-info {
  margin-left: 15px;
}

.email-info h4 {
  font-family: var(--roboto);
}

.email-info a {
  color: var(--input-bg);
}

.email-info a:hover {
  text-decoration: underline;
  color: #097877;
}

/* 
===================
MAP SECTION
===================
*/

.map-sec {
  padding: 60px 0;
}

.map-location {
  max-width: 1320px;
  height: 592px;
  position: relative;
  overflow: hidden;
}

.map-location iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* 
====================
MEDIA QUERIES
====================
*/

@media screen and (max-width: 1200px) {
  .left-part {
    padding: 36px 40px;
    border-radius: 20px;
  }
  .contact-pic > img {
    border-radius: 20px;
  }
  .contact-info {
    height: 415px;
    padding: 27px 30px;
    border-radius: 20px;
  }
  .info {
    padding: 15px 20px;
    border-radius: 20px;
    background: var(--input-form);
    margin-bottom: 24px;
  }

  .address {
    padding: 19px 15px;
    left: 70%;
  }

  .arrow-loc {
    left: 58%;
    top: 56%;
  }

  .address .small,
  .address a {
    font-size: 14px;
  }
}

@media screen and (max-width: 992px) {
  .left-part {
    padding: 30px 26px;
    border-radius: 20px;
  }
  .contact-sec p {
    max-width: 100%;
    margin-block: 10px 20px;
  }
  hr {
    margin: 0 0 15px;
  }
  .label-form {
    font-weight: 700;
    margin-bottom: 12px;
  }
  .form-input {
    margin: 0 0 14px;
  }
  .form-input textarea {
    padding: 14px 15px;
  }
  .small {
    font-size: 12px !important;
  }
  .form-control {
    width: 100%;
    padding: 8px 15px;
    border-radius: 8px;
  }
  .form-control::placeholder {
    font-size: 14px;
  }
  .form-check::after {
    bottom: -12px;
  }
  .form-check {
    margin-bottom: 24px;
  }
  .contact-pic {
    height: 390px;
  }
  .contact-info {
    height: 420px;
    padding: 37px 24px;
    margin-top: 16px;
    border-radius: 14px;
  }
}

@media screen and (max-width: 768px) {
  .contact-pic,
  .contact-info {
    max-width: 100%;
    margin-top: 20px;
  }
  .contact-sec p {
    font-size: 14px;
    margin-block: 9px 16px;
  }
  .left-part {
    padding: 27px 21px;
    border-radius: 14px;
  }
  .label-form {
    margin-bottom: 10px;
  }
  .email-info a {
    font-size: 14px;
  }
  .contact-pic {
    height: 360px;
  }
  .contact-pic > img {
    border-radius: 14px;
  }
  .contact-info {
    height: 370px;
    padding: 30px 18px;
  }
  .map-location {
    height: 470px;
  }
}

@media screen and (max-width: 576px) {
  .contact-sec {
    padding: 40px 0 45px;
  }
  .left-part {
    padding: 24px 16px;
    border-radius: 10px;
  }
  .contact-sec p {
    font-size: 12px;
    margin-block: 8px 14px;
  }
  .form-input {
    margin: 0 0 12px;
  }
  .label-form {
    margin-bottom: 8px;
  }
  .form-control {
    padding: 7px 12px;
    border-radius: 6px;
  }
  .form-input textarea {
    height: 150px;
    padding: 11px 12px;
  }
  .contact-pic {
    height: 300px;
  }
  .contact-info {
    height: 290px;
    padding: 18px 12px;
  }
  .info {
    padding: 10px 15px;
    border-radius: 10px;
    margin-bottom: 14px;
  }
  .email-info a {
    font-size: 12px;
  }
  .email-info h4 {
    margin-bottom: 2px;
  }
  /* Map Section */
  .map-sec {
    padding: 40px 0;
  }
  .map-location {
    max-width: 100%;
    height: 350px;
  }
}

@media screen and (max-width: 425px) {
}
