h3 {
  font-family: "Playfair Display", serif;
}

/* Banner Section */

.course-banner-cntn {
  padding: 60px 0 0;
}
.course-banner-wrpr {
  width: 100%;
  min-height: 100vh;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../assets/CourseDetails/Banner-img.png) no-repeat center/cover;
}
.course-banner-wrpr > .title1 {
  color: #d9d9d9;
}

/* Course Details Section */

.course-d-left {
  max-width: 709px;
  margin-left: auto;
  padding: 20px 30px;
  margin-top: 30px;
}
.course-d-top {
  margin-bottom: 20px;
}
.course-d-img > img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
}
.course-d-img > p {
  font-size: 18px;
  color: var(--input-bg);
}

.stars svg {
  width: 16px;
  height: 16px;
}
.course-d-review > span {
  margin-left: 5px;
}

.course-d-btn-wrpr {
  padding: 15px 20px;
  background-color: var(--section-bg);
}

.course-d-btn-wrpr button {
  padding: 0 28.37px;
  font-size: 18px;
  color: #00000080;
  background: none;
  border: none;
}
.course-d-btn-wrpr li {
  margin-right: 30px;
}
.course-d-btn-wrpr li:last-child {
  margin-right: 0;
}
.video-wrapper {
  max-width: 100%;
  height: 310px;
  margin-block: 40px 30px;
}
.video-wrapper a {
  width: 100%;
  height: auto;
  display: block;
  background: #000;
}
.video-wrapper img {
  width: 100%;
}
.course-d-cntn > .title3 {
  margin-bottom: 25px;
}
.course-d-cntn > p {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 0;
  line-height: 28px;
}
.course-d-cntn p:nth-child(2) {
  margin-bottom: 10px;
}
.course-d-cntn p:nth-child(3) {
  margin-bottom: 60px;
}
.course-d-cntn-list {
  margin-bottom: 50px;
}
.course-d-cntn-list > li {
  font-size: 18px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.6);
  position: relative;
  margin-bottom: 10px;
}
.course-d-cntn-list > li::before {
  content: "";
  position: absolute;
  background-color: var(--secondary-color);
  width: 15px;
  height: 15px;
  bottom: 7px;
  left: -25px;
}
.big-list::before {
  bottom: 34px !important;
}
