@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: var(--roboto);
  overflow-x: hidden;
}

:root {
  --defult-color: #fff;
  --primary-color: #000;
  --secondary-color: #097877;
  --tertiary-color: #6ccdbf;
  --light-bg-color: #f2f0f4;
  --input-bg: #100f0f;
  --border-color: #7d7878;
  --heading-color: #422c9b;
  --btn-bg: #173433;
  --design-bg: #6dcec0;
  --section-bg: #dbf7f3;
  --roboto: "Roboto", sans-serif;
  --sec-hdr-color: #054645;
}

ul {
  list-style-type: none;
}

a,
span {
  display: inline-block;
  text-decoration: none;
}



/* Funnel Modal */
.funnel-modal-dialog {
  max-width: 820px !important;
  padding: 0 12px;
}

.funnel-modal-dialog .modal-content {
  background: var(--defult-color);
}

.modal-filter {
  margin: 0 auto !important;
}

.funnel-modal-dialog .search-box,
.funnel-modal-dialog .category-box,
.funnel-modal-dialog .cost-box,
.funnel-modal-dialog .level-box,
.funnel-modal-dialog .course-box,
.funnel-modal-dialog .tag-box {
  box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.2);
  padding: 20px 20px 30px;
}

.funnel-modal-dialog .search-bar {
  padding: 7px 10px;
}

.funnel-modal-dialog #search::placeholder {
  font-size: 12px;
}

.funnel-modal-dialog .title2 {
  font-size: 16px !important;
  margin-bottom: 16px !important;
}

.funnel-modal-dialog .categories>button {
  font-size: 14px;
}

.funnel-modal-dialog .categories {
  margin-bottom: 12px;
}

.funnel-modal-dialog .categories:last-child {
  margin-bottom: 0px;
}

.funnel-modal-dialog .tags a {
  font-size: 14px;
}

.funnel-modal-dialog .tag-box {
  margin-bottom: 0 !important;
}

.funnel-modal-dialog .tags {
  padding: 5px 7px;
  border-radius: 6px;
  margin: 8px;
}

/* 
=====================
COURSE CNTN
=====================
*/

.course-cntn-sec {
  background: #dbf7f3;
  /* padding: 60px 0; */
}

.course-category {
  border-radius: 10px;
  border: 2px solid rgba(8, 17, 155, 0.2);
  margin-right: 43px;
  background: transparent;
  color: #525252;
  padding: 0.495vw 2.172vw;
  font-size: 18px;
  font-weight: 300;
}

.course-category:hover,
.page-btns .course-category:hover {
  background: var(--secondary-color);
  color: var(--defult-color);
  transition: 0.5s linear;
}

.active1 {
  background: var(--secondary-color);
  color: var(--defult-color);
}

.course-result {
  margin-top: 55px;
}

.course-result p {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.6);
  margin: 0;
}

.course-dropdown {
  -webkit-appearance: none;
  background-color: #212343;
  color: #fff;
  border: none;
  border-radius: 5px;
  height: 44px;
  padding: 0 18px 0 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-image: url("../assets/CoursePage/arrow-down-01.png");
  background-repeat: no-repeat;
  background-position: right 6px center;
  background-size: 14px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
}

.course-dropdown:hover {
  background-color: #2b2e5f;
}

.filter-toggler {
  background: none;
  border: none;
}

.course-dropdown:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(77, 166, 255, 0.4);
}

.course-dropdown option {
  font-family: "Roboto";
  font-size: 12px;
}

.filter-toggle-wrpr {
  display: none;
}

.filter-toggle-wrpr {
  background-color: var(--defult-color);
  border: 1px solid rgba(0, 0, 0, 0.08);
  color: var(--input-bg);
  border-radius: 5px;
  margin-left: 15px;
  font-size: 18px;
  padding: 10px 20px;
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.12);
}

.filter-toggle-wrpr svg {
  margin-right: 4px;
}

.course-details {
  margin-top: 20px;
}

.course-card {
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 20%);
  background: var(--defult-color);
  max-width: 418.5px;
  margin: 0 auto 20px;
  height: 627px;
  padding: 30px;
  transition:
    box-shadow 0.3s ease,
    transform 0.3s ease;
  transition: .35s ease;
}

.course-card.hidden {
  display: none;
}

.course-card:hover {
  filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.1));
  transform: translateY(-6px);
}

.card-pic {
  max-width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

.free {
  border-radius: 5px;
  background: #f8d468;
  color: var(--primary-color);
  padding: 5px 22.5px;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  top: 9px;
  right: 11px;
}

.card-pic>img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.course-badge1 {
  color: var(--defult-color);
  background-color: var(--secondary-color);
  padding: 5px 10px;
  border-radius: 5px;
  top: 10px;
  left: 10px;
}

.course-badge2 {
  color: var(--defult-color);
  background-color: var(--secondary-color);
  padding: 5px 15px 5px 10px;
  border-radius: 5px;
  bottom: 10px;
  left: 10px;
}

.course-badge3 {
  color: var(--defult-color);
  background-color: var(--secondary-color);
  border-radius: 5px;
  padding: 5px 15px 5px 10px;
  bottom: 10px;
  left: 132px;
}

.course-badge2 svg,
.course-badge3 svg {
  margin-right: 10px;
}

.card-cntn>.course-d-review {
  margin-block: 20px 19px;
}

.card-cntn .title4 {
  font-family: "Playfair Display";
  margin-bottom: 15px;
  cursor: pointer;
}

.lessons {
  margin-right: 30px;
}

.lessons span,
.students span {
  font-family: "Inter", sans-serif;
  text-transform: capitalize;
  font-size: 16px;
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.8);
}

.card-cntn>p {
  font-size: 18px;
  margin-block: 15px;
  color: rgba(0, 0, 0, 0.6);
}

.course-dev a {
  margin-right: 10px;
}

.course-dev span {
  font-size: 16px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.6);
  text-transform: capitalize;
}

.course-dev span span {
  color: var(--primary-color);
}

.bookmark {
  border: none;
  background: transparent;
}

.price-cart {
  margin-top: 15px;
}

.price p {
  font-size: 24px;
  font-weight: 600;
  color: #212343;
  margin-right: 18px;
  margin-bottom: 0;
}

.price del {
  font-size: 20px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.4);
}

.cart {
  padding: 10px 15px;
  border-radius: 5px;
  border: 2px solid #52525299;
  background: transparent;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.cart span {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
  margin-left: 10px;
  transition: color 0.3s ease;
}

.cart span {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
  transition: color 0.3s ease;
}

.cart svg {
  transition: transform 0.3s ease;
}

.cart:hover {
  background: var(--primary-color);

  box-shadow: 0 6px 20px rgba(20, 27, 52, 0.25);
}

.cart:hover span {
  color: var(--defult-color);
}

.cart:hover svg {
  transform: translateX(4px);
}

.cart:hover svg path {
  stroke: var(--defult-color);
  stroke-opacity: 1;
}


/* Cart Popup */

.cart-popup {
  position: fixed;
  top: 30px;
  right: 20px;
  background: var(--secondary-color);
  box-shadow: 0 8px 20px rgba(20, 27, 52, 0.7);
  border-radius: 10px;
  color: var(--defult-color);
  padding: 12px 20px;
  font-size: 20px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: all 0.3s linear;
  z-index: 999;
}

.cart-popup.show {
  opacity: 1;
  transform: translateY(0);
}

.cart.added {
  border-radius: 50px;
  transition: 0.3s linear;
}

.cart.added:hover {
  color: var(--defult-color);
}

.page-btns {
  margin-top: 30px;
}

.page-btns .course-category {
  margin: 0;
  padding: 15px 20px;
  border-radius: 10px;
  border: 2px solid rgba(8, 17, 155, 0.2);
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 300;
  color: #525252;
  transition:
    box-shadow 0.3s ease,
    transform 0.3s ease;
}

.page-btns .course-category {
  filter: drop-shadow(0, 4px, 4px, rgba(0, 0, 0, 0.25));
  cursor: pointer;
}

.search-box,
.category-box,
.cost-box,
.level-box,
.course-box,
.tag-box {
  max-width: 413px;
  height: fit-content;
  border-radius: 10px;
  background: var(--defult-color);
  padding: 40px 50px 50px 60px;
  margin-bottom: 30px;

  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
}

.search-box .title2,
.category-box .title2,
.cost-box .title2,
.level-box .title2,
.course-box .title2,
.tag-box .title2 {
  font-family: "Playfair Display", serif;
  font-size: 22px;
  font-weight: 500;
  color: var(--primary-color);
  margin-bottom: 30px;
}

.search-bar {
  width: 100%;
  border: 1px solid #7d7878;
  border-radius: 10px;
  padding: 10px 15px 10px 11px;
}

.search-bar input {
  border: none;
  width: 100%;
}

#search:focus {
  outline: none;
}

.search-btn {
  border: none;
  background: transparent;
  cursor: pointer;
}

.category-box ul,
.cost-box ul,
.level-box ul {
  padding: 0;
}

.categories {
  margin-bottom: 30px;
}

.categories>button {
  background: none;
  font-weight: 300;
  border: none;
  font-size: 18px;
  font-weight: 300;
}

.categories>button:hover {
  color: #525252;
}

.active-catagory {
  color: #525252;
}

.latest-details {
  margin-left: 10px;
}

.latest-details h3 {
  font-family: "Playfair-Display";
  font-size: 18px;
  font-weight: 500;
  color: var(--primary-color);
}

.latest-details p {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
}

.course>a img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.tags {
  border: 1px solid #949197;
  padding: 8px 10px;
  border-radius: 10px;
  width: fit-content;
  height: fit-content;
  margin: 10px;
  text-align: center;
}

.tags a {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  margin: 0;
}

/* 
======================
MEDIA QUERIES
======================
*/

@media screen and (max-width: 1200px) {
  .course-result {
    margin-top: 30px;
  }

  .course-card {
    height: 564px;
    padding: 18px;
  }

  .course-badge1 {
    padding: 4px 8px;
    font-size: 14px;
    top: 8px;
    left: 8px;
  }

  .course-badge2 {
    padding: 4px 8px;
    font-size: 14px;
    bottom: 8px;
    left: 8px;
  }

  .course-badge3 {
    padding: 4px 8px;
    font-size: 14px;
    bottom: 8px;
    left: 120px;
  }

  .free {
    padding: 4px 14.5px;
    top: 8px;
    right: 10px;
  }

  .card-cntn>.course-d-review {
    margin-block: 13px 12px;
  }

  .price-cart {
    margin-top: 12px;
  }

  .course-dev span {
    font-size: 14px;
  }

  .card-cntn>p {
    font-size: 16px;
    margin-block: 12px;
  }

  .lessons span,
  .students span {
    font-size: 14px;
    margin-left: 8px;
  }

  .latest-details h3 {
    font-size: 15px;
  }

  .latest-details p {
    font-size: 12px;
  }

  .cart {
    padding: 8px 10px;
  }

  .price p {
    font-size: 18px;
  }

  .price del {
    font-size: 16px;
  }

  .search-box,
  .category-box,
  .cost-box,
  .level-box,
  .course-box,
  .tag-box {
    padding: 33px 40px 41px 47px;
    margin-bottom: 20px;
  }

  .search-box .title2,
  .category-box .title2,
  .cost-box .title2,
  .level-box .title2,
  .course-box .title2,
  .tag-box .title2 {
    font-size: 20px;
    margin-bottom: 22px;
  }
}

@media screen and (max-width: 1070px) {
  .course-card {
    height: 535px;
  }
}

@media screen and (max-width: 992px) {
  .course-dropdown {
    padding: 9.5px 11px;
  }

  .course-dropdown span {
    font-size: 12px;
  }

  .course-category {
    border-radius: 8px;
    margin-right: 20px;
    font-size: 17px;
  }

  .filter-toggle-wrpr {
    display: block;
  }

  .course-card {
    height: 593px;
  }

  .page-btns .course-category {
    padding: 10px 17px;
    border-radius: 8px;

    font-size: 16px;
  }

  .modal-filter {
    display: block !important;
  }

  .course-filter {
    display: none;
    margin: 0 auto 20px;
  }

  /* .search-bar input {
    font-size: 10px;
  }

  .latest-details h3 {
    font-size: 13px;
  }

  .latest-details p {
    font-size: 10px;
  }

  .search-box,
  .category-box,
  .cost-box,
  .level-box,
  .course-box,
  .tag-box {
    padding: 30px;
  }

  .search-box .title2,
  .category-box .title2,
  .cost-box .title2,
  .level-box .title2,
  .course-box .title2,
  .tag-box .title2 {
    font-size: 20px;
  }

  .course-cat-links {
    padding: 14.5px 35.7px;
    font-size: 10px;
  } */
}

@media screen and (max-width: 768px) {

  /* Filter Modal */
  .funnel-modal-dialog .modal-header {
    padding: 6px 12px 12px;
  }

  .funnel-modal-dialog .modal-footer {
    padding: 12px 12px 0 0;
  }

  /* Course Section */
  .course-category {
    border-radius: 6px;
    margin-right: 15px;
    font-size: 16px;
  }

  .filter-toggle-wrpr {
    margin-left: 14px;
    font-size: 16px;
    padding: 10px 18px;
  }

  .course-card {
    height: 504px;
    padding: 14px;
  }

  .course-badge2 {
    padding: 3px 6px;
    font-size: 13px;
    bottom: 7px;
    left: 7px;
  }

  .course-badge3 {
    padding: 3px 6px;
    font-size: 13px;
    bottom: 7px;
    left: 118px;
  }

  .course-badge1 {
    padding: 3px 6px;
    font-size: 13px;
    top: 7px;
    left: 7px;
  }

  .free {
    padding: 3px 10.5px;
    top: 7px;
    right: 7px;
  }

  .card-cntn .title4 {
    font-family: "Playfair Display";
    margin-bottom: 10px;
  }

  .card-cntn p {
    font-size: 13px;
    margin-block: 8px;
  }

  .card-cntn>.course-d-review {
    margin-block: 7px 5px;
  }

  .lessons span,
  .students span {
    font-size: 14px;
    margin-left: 6px;
  }

  .course-dev span {
    font-size: 12px;
  }

  .card-cntn p {
    font-size: 13px;
    margin-block: 7px;
    margin-right: 7px;
  }

  .price del {
    font-size: 13px;
  }

  .cart span {
    font-size: 14px;
  }

  .price-cart {
    margin-top: 8px;
  }

  .cart {
    padding: 7px 8px;
  }

  .course {
    flex-direction: column;
    text-align: center;
  }

  .page-btns {
    margin-top: 18px;
  }

  /* .search-box {
    padding: 20px;
  }

  .search-box .title2 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .search-bar input {
    font-size: 18px;
  }

  .search-btn {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin: 0 auto !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }  */
}

@media screen and (max-width: 650px) {
  .course-card {
    height: 453px;
    padding: 12px;
  }
}

@media screen and (max-width: 576px) {

  /* Filter Modal  */
  .funnel-modal-dialog {
    /* margin-block: 8%; */
  }

  .funnel-modal-dialog .modal-body {
    padding: 10px;
  }

  .funnel-modal-dialog .title2 {
    font-size: 14px !important;
    margin-bottom: 12px !important;
  }

  .funnel-modal-dialog .search-bar {
    padding: 5px 8px;
    border-radius: 6px;
  }

  .funnel-modal-dialog .search-btn svg {
    height: 16px;
    width: 16px;
  }

  .funnel-modal-dialog .search-box,
  .funnel-modal-dialog .category-box,
  .funnel-modal-dialog .cost-box,
  .funnel-modal-dialog .level-box,
  .funnel-modal-dialog .course-box,
  .funnel-modal-dialog .tag-box {
    box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.2);
    padding: 15px 16px 20px;
    margin-bottom: 14px;
    border-radius: 8px;
  }

  .funnel-modal-dialog .categories>button {
    font-size: 12px;
  }

  .funnel-modal-dialog .categories {
    margin-bottom: 8px;
  }

  .funnel-modal-dialog .tags a {
    font-size: 12px;
  }

  .funnel-modal-dialog .tags {
    padding: 1px 4px;
    border-radius: 4px;
    margin: 5px;
  }

  .funnel-modal-dialog .btn-primary,
  .funnel-modal-dialog .btn-secondary {
    padding: 5.5px 15px;
    font-size: 14px;
    border-radius: 10px;
  }

  /* Course Section */
  .course-dropdown {
    padding: 9px 11px;
    font-size: 11px;
  }

  .filter-toggle-wrpr {
    margin-left: 12px;
    font-size: 11px;
    padding: 9px 12px;
  }

  .filter-toggle-wrpr svg {
    width: 15px;
    height: 15px;
  }

  .course-category {
    border-radius: 5px;
    font-size: 12px;
  }

  .course-result {
    margin-top: 12px;
  }

  .course-result p {
    font-size: 13px;
  }

  .course-dropdown {
    font-size: 11px;
    height: 35px;
  }

  .course-card {
    height: 529px;
    padding: 12px;
    margin-bottom: 10px;
  }

  .course-cat-links {
    padding: 10px 20px;
  }

  .categories>a {
    font-size: 12px;
  }

  .course-category {
    margin-right: 8px;
  }

  .course-details {
    margin-top: 15px;
  }

  /* .search-box,
  .category-box,
  .cost-box,
  .level-box,
  .course-box,
  .tag-box {
    padding: 10px;
  }

  .search-box .title2 {
    display: none;
  }

  .category-box .title2,
  .cost-box .title2,
  .level-box .title2,
  .course-box .title2,
  .tag-box .title2 {
    font-size: 11px;
  }

  .search-btn {
    height: 20px;
    width: 20px;
  } */

  /* .search-bar {
    padding: 3px 10px;
    flex-direction: column;
  }

  .search-bar input {
    font-size: 8px;
    text-align: center;
  } */

  /* .search-bar a {
    margin-left: 0;
  } */

  /* .tags p {
    font-size: 8px;
  }

  .lessons span,
  .students span {
    font-size: 10px;
  } */

  .card-cntn p {
    font-size: 12px;
  }

  .card-cntn .title2 {
    font-size: 17px;
  }

  .cart span {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.8);
    margin-left: 4px;
  }

  .reviews>span {
    margin-left: 5px;
    font-size: 12px;
  }

  .bookmark svg {
    height: 19px;
    width: 19px;
  }

  .price p {
    font-size: 12px;
    margin-right: 8px;
  }

  .price del {
    font-size: 13px;
  }

  .course-dev span {
    font-size: 11px;
  }

  .page-btns {
    margin-top: 0 !important;
  }

  .page-btns .course-category {
    padding: 7px;
    border-radius: 6px;
    font-size: 12px;
  }
}

@media screen and (max-width: 400px) {
  .course-card {
    padding: 10px;
    height: 425px;
  }

  .course-badge1 {
    padding: 3px 5px;
    font-size: 11px;
    top: 6px;
    left: 6px;
  }

  .course-badge2 {
    padding: 3px 4px;
    font-size: 11px;
    bottom: 6px;
    left: 6px;
  }

  .course-badge3 {
    padding: 3px 5px;
    font-size: 11px;
    bottom: 6px;
    left: 100px;
  }

  .course-badge2 svg,
  .course-badge3 svg {
    margin-right: 2px;
  }

  .free {
    padding: 5px 10.5px;
    font-size: 9px;
  }

  .card-cntn .title4 {
    margin-bottom: 5px;
  }

  .reviews>span,
  .lessons span,
  .students span {
    font-size: 10px;
  }

  .course-dropdown {
    font-size: 11px;
    padding: 5px 7px;
  }

  .course-dev span {
    font-size: 9px;
  }

  .course-category {
    margin-right: 10px;
  }

  .card-cntn .title2 {
    font-size: 11px;
  }

  .card-cntn p {
    margin-block: 5px;
    margin-right: 0;
  }

  .course-dev a img {
    height: 20px;
    width: 20px;
  }

  .price del {
    font-size: 12px;
    margin-left: 4px;
  }

  .cart {
    padding: 5px;
  }

  .cart>img {
    height: 15px;
    width: 15px;
  }

  .cart span {
    font-size: 9px;
  }

  .category-box .title2,
  .cost-box .title2,
  .level-box .title2,
  .course-box .title2,
  .tag-box .title2 {
    font-size: 12px;
    margin-bottom: 17px;
  }

  /* .search-box .title2 {
    font-size: 6px;
    margin-bottom: 8px;
  } */

  .categories>a {
    font-size: 9px;
  }

  .tags {
    border: 1px solid #949197;
    padding: 4px;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    margin: 5px;
    text-align: center;
  }

  .latest-details h3 {
    font-size: 11px;
  }

  .categories {
    margin-bottom: 10px;
  }

  .page-btns .course-category {
    padding: 10px;
    border-radius: 8px;
    font-size: 11px;
  }
}