@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: var(--roboto);
  overflow-x: hidden;
}

:root {
  --defult-color: #fff;
  --primary-color: #000;
  --secondary-color: #08119b;
  --tertiary-color: #6ccdbf;
  --light-bg-color: #f2f0f4;
  --input-bg: #212343;
  --heading-color: #422c9b;
  --btn-bg: #173433;
  --btn-bg-2: #097877;
  --design-bg: #6dcec0;
  --section-bg: #dbf7f3;
  --roboto: "Roboto", sans-serif;
  --course-btn-color: #097877;
  --free-color: #f8d468;
}

.container {
  max-width: 1340px;
}

ul {
  list-style-type: none;
}

a,
span {
  display: inline-block;
  text-decoration: none;
}

/* 
===================
COURSE SECTION
===================
*/

.course-sec {
  background: #212343;
  /* padding: 26.5px 0;   */
}

.course-sec a {
  color: var(--defult-color);
  font-size: 20px;
  font-weight: 300;
  text-decoration: none;
}

/* 
=====================
COURSE CNTN
=====================
*/

.course-cntn-sec {
  background: #dbf7f3;
  padding: 60px 0;
}

.course-category {
  border-radius: 10px;
  border: 2px solid rgba(8, 17, 155, 0.2);
  margin-right: 43px;
  background: transparent;
  color: #525252;
  padding: 0.495vw 2.172vw;
  font-size: 18px;
  font-weight: 300;
}

.course-category:hover,
.page-btns .course-category:hover {
  background: var(--course-btn-color);
  color: var(--defult-color);
  transition: 0.5s linear;
}

.active {
  background: var(--course-btn-color);
  color: var(--defult-color);
}

.course-result p {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.6);
  margin: 0;
}

.course-dropdown {
  -webkit-appearance: none;
  background-color: #212343;
  color: #fff;
  border: none;
  border-radius: 5px;
  height: 44px;
  padding: 0 18px 0 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-image: url("../assets/CoursePage/arrow-down-01.png");
  background-repeat: no-repeat;
  background-position: right 6px center;
  background-size: 14px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
}

.course-dropdown:hover {
  background-color: #2b2e5f;
}

.course-dropdown:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(77, 166, 255, 0.4);
}

.course-dropdown option {
  font-family: "Roboto";
  font-size: 12px;
}

.course-card {
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 20%);
  background: var(--defult-color);
  max-width: 418.5px;
  /* min-height: 627px; */
  padding: 30px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.course-card:hover {
  filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.1));
  transform: translateY(-6px);
}

.card-pic {
  max-width: 358.5px;
  border-radius: 10px;
}

.free {
  border-radius: 5px;
  background: var(--free-color);
  color: var(--primary-color);
  padding: 5px 22.5px;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  top: 9px;
  right: 11px;
}

.card-pic > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.reviews > img {
  margin: 0;
}

.reviews > span {
  margin-left: 5px;
  font-size: 16px;
  font-weight: 300;
  color: var(--primary-color);
}

.card-cntn .title2 {
  letter-spacing: 0;
  font-family: "Playfair Display";
  font-size: 20px;
  font-weight: 600;
}

.card-cntn .title2 {
  color: var(--primary-color);
}

.lessons {
  margin-right: 30px;
}

.lessons span,
.students span {
  font-family: "Inter", sans-serif;
  text-transform: capitalize;
  font-size: 16px;
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.8);
}

.card-cntn p {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
}

.course-dev a {
  margin-right: 10px;
}

.course-dev span {
  font-size: 16px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.6);
  text-transform: capitalize;
}

.course-dev span span {
  color: var(--primary-color);
}

.bookmark {
  border: none;
  background: transparent;
}

.price p {
  font-size: 24px;
  font-weight: 600;
  color: #212343;
  margin-right: 18px;
}

.price del {
  font-size: 20px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.4);
  margin-bottom: 14px;
}

.cart {
  padding: 10px 15px;
  border-radius: 5px;
  border: 2px solid #525252;
  background: transparent;
}

.cart span {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
  margin-left: 10px;
}

.page-btns .course-category {
  padding: 15px 20px;
  border-radius: 10px;
  border: 1px solid #08119b;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 300;
  color: #525252;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.page-btns .course-category {
  filter: drop-shadow(0, 4px, 4px, rgba(0, 0, 0, 0.25));
  cursor: pointer;
}

.search-box,
.category-box,
.cost-box,
.level-box,
.course-box,
.tag-box {
  max-width: 413px;
  height: fit-content;
  border-radius: 10px;
  background: var(--defult-color);
  padding: 30px 50px 50px 60px;
  margin-bottom: 30px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.search-box:hover,
.category-box:hover,
.cost-box:hover,
.level-box:hover,
.course-box:hover,
.tag-box:hover {
  filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.1));
}

.search-box .title2,
.category-box .title2,
.cost-box .title2,
.level-box .title2,
.course-box .title2,
.tag-box .title2 {
  font-family: "Playfair Display", serif;
  font-size: 22px;
  font-weight: 500;
  color: var(--primary-color);
  margin-bottom: 30px;
}

.search-bar {
  width: 100%;
  border: 1px solid #7d7878;
  border-radius: 10px;
  padding: 10px 15px 10px 11px;
}

.search-bar input {
  border: none;
  width: 100%;
}

.search-btn {
  border: none;
  background: transparent;
}

.category-box ul,
.cost-box ul,
.level-box ul {
  padding: 0;
}

.categories {
  margin-bottom: 30px;
}

.categories > a {
  color: #525252;
  font-size: 18px;
  font-weight: 300;
}

.latest-details {
  margin-left: 10px;
}

.latest-details h3 {
  font-family: "Playfair-Display";
  font-size: 18px;
  font-weight: 500;
  color: var(--primary-color);
}

.latest-details p {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
}

.course > a img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.tags {
  border: 1px solid #949197;
  padding: 8px 10px;
  border-radius: 10px;
  width: fit-content;
  height: fit-content;
  margin: 10px;
  text-align: center;
}

.tags p {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  margin: 0;
}

/* 
======================
MEDIA QUERIES
======================
*/

@media screen and (max-width: 1200px) {
  .latest-details h3 {
    font-size: 15px;
  }

  .latest-details p {
    font-size: 12px;
  }

  .cart {
    padding: 8px 10px;
  }

  .price p {
    font-size: 20px;
  }

  .price del {
    font-size: 16px;
  }
}

@media screen and (max-width: 992px) {
  .course-category {
    margin-right: 30px;
    font-size: 13px;
  }

  .course-card {
    margin: 0 auto;
  }

  .course-dropdown {
    padding: 9.5px 11px;
  }

  .course-dropdown span {
    font-size: 12px;
  }

  .search-bar input {
    font-size: 10px;
  }

  .latest-details h3 {
    font-size: 13px;
  }

  .latest-details p {
    font-size: 10px;
  }

  .search-box,
  .category-box,
  .cost-box,
  .level-box,
  .course-box,
  .tag-box {
    padding: 30px;
  }

  .search-box .title2,
  .category-box .title2,
  .cost-box .title2,
  .level-box .title2,
  .course-box .title2,
  .tag-box .title2 {
    font-size: 20px;
  }

  .course-cat-links {
    padding: 14.5px 35.7px;
    font-size: 10px;
  }
}

@media screen and (max-width: 768px) {
  .course-cat-links {
    padding: 14.5px 28px;
  }

  .course {
    flex-direction: column;
    text-align: center;
  }
}

@media screen and (max-width: 576px) {
  .course-cat-links {
    padding: 10px 20px;
  }

  .categories > a {
    font-size: 12px;
  }

  .course-category {
    margin-right: 15px;
  }

  .search-box,
  .category-box,
  .cost-box,
  .level-box,
  .course-box,
  .tag-box {
    padding: 10px;
  }

  .search-box .title2,
  .category-box .title2,
  .cost-box .title2,
  .level-box .title2,
  .course-box .title2,
  .tag-box .title2 {
    font-size: 14px;
  }

  .search-bar {
    padding: 3px 10px;
    flex-direction: column;
  }

  .search-bar input {
    font-size: 8px;
    text-align: center;
  }

  .search-bar a {
    margin-left: 0;
  }

  .tags p {
    font-size: 8px;
  }

  .lessons span,
  .students span {
    font-size: 10px;
  }

  .card-cntn p {
    font-size: 15px;
  }

  .cart span {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.8);
    margin-left: 4px;
  }

  .reviews > span {
    margin-left: 5px;
    font-size: 12px;
  }

  .price p {
    font-size: 16px;
    margin-right: 8px;
  }

  .course-dev span {
    font-size: 11px;
  }
}

@media screen and (max-width: 425px) {
  .course-category {
    font-size: 10px;
  }

  .course-card {
    padding: 8px;
  }

  .reviews > span,
  .lessons span,
  .students span {
    font-size: 7px;
  }

  .course-dropdown {
    font-size: 11px;
  }

  .course-result p {
    font-size: 10px;
  }

  .course-category {
    margin-right: 10px;
  }

  .card-cntn p {
    font-size: 12px;
  }

  .cart {
    padding: 5px;
  }

  .cart span {
    font-size: 9px;
  }

  .search-box .title2,
  .category-box .title2,
  .cost-box .title2,
  .level-box .title2,
  .course-box .title2,
  .tag-box .title2 {
    font-size: 12px;
    margin-bottom: 17px;
  }

  .categories > a {
    font-size: 9px;
  }

  .tags {
    border: 1px solid #949197;
    padding: 4px;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    margin: 5px;
    text-align: center;
  }

  .latest-details h3 {
    font-size: 11px;
  }

  .categories {
    margin-bottom: 10px;
  }
}