html,
body {
  font-family: var(--roboto);
  overflow-x: hidden;
}
:root {
  --defult-color: #fff;
  --primary-color: #000;
  --secondary-color: #097877;
  --tertiary-color: #6ccdbf;
  --light-bg-color: #f2f0f4;
  --input-bg: #212343;
  --border-color: #7d7878;
  --heading-color: #422c9b;
  --btn-bg: #173433;
  --design-bg: #6dcec0;
  --section-bg: #dbf7f3;
  --roboto: "Roboto", sans-serif;
  --sec-hdr-color: #054645;
}

h1,
h2 {
  font-family: "Playfair Display", serif;
}

a,
span {
  display: inline-block;
  text-decoration: none;
}
ul {
  list-style: none;
}